<p id="notice"><%= notice %></p>

<p>
  <strong>Exhibit:</strong>
  <%= @vote.exhibit_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @vote.count %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
